{% extends 'AppClub/base.html' %}

{% block header %}
<header class="masthead " style="background: rgb(149,0,255);
background: linear-gradient(45deg, rgba(149,0,255,1) 0%, rgba(178,220,255,1) 50%, rgba(26,255,233,1) 100%);">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
                  {% if request.user.is_authenticated %}

                   <h2>{{user.username}}</h2>
                  {% endif %}
                
                  <span class="subheading">Edición de tu perfil</span>
              </div>
          </div>
      </div>
  </div>
</header>
{% endblock header %}

{% block contenido_principal %}

<div class="container my-5">

    {% if mensaje %}
    
        <p style="color:red">{{mensaje}}</p>

    {% endif %}
    <form style="margin: 0 auto; display:flex; flex-direction:column" class="text-end" method="post">

        {% csrf_token %}

        {{form.as_p}}

        <input class="btn btn-primary" type="submit" value="Actualizar">

    </form>
</div>




{% endblock contenido_principal %}